@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro&display=swap');
* {
    margin: 0%;
    padding: 0%;
}
header {
    background-color: #146C94;
    padding-bottom: 1px;
}
nav a {
    color: #19A7CE;
    font-family: Source Serif Pro, Roboto, sans-serif;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 5px;  
}
body {
    background-color: #F6F1F1;
}
main {
    color: #000000;
    font-family: Roboto, Source Serif Pro, sans-serif;
    font-size: large;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
}
main p {
    text-indent: 5%;
    margin: 2%;
}
h1 {
    color: #19A7CE;
    font-family: Source Serif Pro, Roboto, sans-serif;
    font-size: xx-large;
    text-align: center;
    margin: 2%;
}
h2 {
    color:#19A7CE;
    font-family: Roboto, Source Serif Pro, sans-serif;
    font-size: x-large;
    text-align: justify;
    padding-top: 3%;
    padding-bottom: 1%;
    margin: 2%;
}
h3 {
    background-color: #146C94;
    color: #F6F1F1;
    font-family: Roboto, Source Serif Pro, sans-serif;
    font-size: x-large;
    text-indent: 5%;
    text-align: justify;
    padding-top: 5%;
    padding-block: 3%;
}
img{
    margin: 2%;
}
footer {
    background-color: #146C94;
    color: #ffffff;
    font-family: Roboto 100, sans-serif;
    font-size: medium;
    text-indent: 1%;
    text-align: justify;
}
